@import 'vars';
@import 'global';
@import 'fonts';


.header__top{
    background-color: #eef1f3;
   
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-logo{
    text-align: center;
    a{
        font-size: 30px;
        color: #000;
        font-weight: 700;
    }
}

.header-btn{
    width: 140px;
    text-align: center;
    background-color: $blue;
    height: 36px;
    border-radius: 50px;
    margin-left: auto;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    a{
        color: #fff;
        font-size: 14px;
        line-height: 34px;
    }
}


.header-user__photo{
    background-color: #7c7979;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-box{
    margin-left: 220px;
    display: flex;
    align-items: center;
    .header__link{
        position: relative;
        width: 25px;
        height: 25px;
        &::before{
            font-size: 20px;
            color: #7e8fa1;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: transform(-50%, -50%);
        }
        & + .header__link{
            margin-left: 35px;
        }
        span{
            width: 26px;
            height: 22px;
            line-height: 22px;
            font-size: 14px;
            color: #fff;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            top: -5px;
            right: -22px;
        }
    }
    .notification{
        span{
            background-color: #ff6a6c;
        }
    }
    .message{
        span{
            background-color: #62d03b;
        }
    }
    .basket{
        span{
            background-color: $blue;
        }
    }
}

.header-user__photo{
    margin-left: 45px;
}
.header-user {
    margin-left: 25px;
    h3{
        color: #333333;
        font-weight: 500;
        font-size: 16px;
        margin: 0;  
    }
    span {
        display: block;
        color: $blue;
        font-size: 15px;
        font-weight: 400;
    }
}

.header__menu-inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.menu__list {
    li{
        display: inline-block;
        margin-right: 35px;
    }
    a{
        color: #333;
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
    }
}

.search{
    form{
        width: 360px;
        position: relative;
        input{
            width: 100%;
            height: 45px;
            border: none;
            border: 1px solid #d9dfe5;
            border-radius: 50px;
            padding-left: 25px;
            &::placeholder{
                color: #898f96;
                font-size: 15px;
            }
        }
        button {
            position: absolute;
            border: none;
            background-color: $blue;
            width: 70px;
            border-radius: 50px;
            height: 45px;
            right: 0;
            bottom: 0;
            .icon-search{
                font-size: 15px;
                color: #fff;
            }
        }
    }
}
.total-page{
    // background-image: url(../images/slider-bg.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    min-height: 725px;
    padding: 185px 0 235px;
    text-align: center;
    background-color: #2b2b2b;
    background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
    position: relative;
}

.total-page__item{
    font-weight: 400;
    color: #fff;
    button{
        padding: 20px 30px;
        background-color: transparent;
        border: none;
        font-size: 16px;
        border: 1px solid #fff;
        border-radius: 50px;
        color: #fff;
        transition: all .5s;
        & + button{
            margin-left: 30px;
        }
        &:hover{
            background-color: #fff;
            color: $blue;
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        }     
    }
}
.total-page__item-title{
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    margin-bottom: 50px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    span{
        font-weight: 700;
        display: block;
    } 
}
  
.total-page__item-text{
    color: #f3f3f8;
    font-size: 20px;
    margin-bottom: 70px;
}

.search-form{
    width: 1140px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 6px; 
    text-align: center; 
    position: absolute;
    bottom: -70px;
    left: auto; 
    right: auto;
    z-index: 730;
    &::before{
        content: '';
        border-radius: 6px;
        background-color: #fff;
        opacity: 0.502;
        position: absolute;
        width: 1110px;
        height: 135px;
        display: block;
        z-index: 729; 
        right: 15px;
        bottom: 15px;  
    }
    &::after{
        content: '';
        border-radius: 6px;
        background-color: #fff;
        opacity: 0.502;
        position: absolute;
        width: 1080px;
        height: 135px;
        z-index: 728;
        display: block;
        right: 30px;
        bottom: 27px;  
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__input{
        width: 805px;
        display: block;
        border: none;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        padding: 20px 0 20px 30px;
        position: relative;
    }
    &__select{
        position: absolute;
        width: 195px;
        padding: 0 10px;
        padding-top: 18px;
        padding-bottom: 19px;
        text-align: center;
        top: 40px;
        right: 295px;
        // border: none;
        border: 1px solid #dcdcdc;
    }
    &__btn{
        width: 223px;
        font-size: 16px;
        color: #fff;
        background-color: $blue;
        border: none;
        border-radius: 4px;
        height: 55px;
    }
}

.features__inner{
    display: flex;
    justify-content: space-between;
    margin: 190px 0 175px;
    
}
.features-item{
    max-width: 360px;
    min-height: 403px;
    text-align: center;
    transition: all .3s;
    padding: 40px 30px 50px;
    &:hover{
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08); 
    }
    &__images{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 120px;
        height: 120px;
    }
    &__title{
        font-size: 24px;
        color: #000;
        margin: 16px 0 ;
    }
    &__text{
        font-size: 16px;
        color: #555555;
        line-height: 30px;
    }
} 

.featured-slider{
    background-color: #eff1f5;
    min-height: 850px;
    padding: 120px 0;
}
.featured-slider__block{
    width: 100%;
    height: 110px;
    background-color: #fff;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .featured-slider__title{
        color: #000;
        font-size: 30px;
        line-height: 28px;
    }
    .featured-slider__btn{
        max-width: 110px;
        width: 100%;
        height: 45px;
        background-color: #7347c1;
        display: inline-block;
        position: relative;
        border-radius: 50px;
        &::before{
            content: '\f104';
            position: absolute;
            font-size: 14px;
            color: #fff;
            font-family: 'icomoon';
            left: 25px;
            bottom: 11px;
        }
        &::after{
            content: '\f105';
            position: absolute;
            font-size: 14px;
            color: #fff;
            font-family: 'icomoon';
            right: 25px;
            bottom: 11px;
        }
    }
}
// .featured-slider__inner{
//     margin-top: 50px;
// }
.featured-slider__item{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}
.featured-slider__images{
    width: 50%;
    background-color: #4e5760;
}
.featured-slider__content{
    padding: 50px 65px 25px;
    width: 50%;
    &-title{
        font-size: 24px;
        color: #000;
    }
    &-list{
        li{
            display: inline-block;
        }
    }
}
.featured-slider__content-photo{
    width: 28px;
    height: 28px;
    background-color: $purple;
    display: inline-block; 
}
.featured-slider__content-name{
    font-size: 15px;
    color: #000;
}
